@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url('../fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf') format('truetype');
}

/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#fff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: #c4c4c4;
}

html,
body,
div {
  margin: 0;
  border: 0 none;
  padding: 0;
}
html,
body,
#container {
    height: 100%;
    min-height: 100%;
}
#container {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.app {
    width: 100%;
    height: 100%;
    float: left;
    overflow: scroll;
    display: -webkit-flex;
    display: flex;
}

.header-bar {
    height: 80px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    float: left;
    position: fixed;
    background: #fff;
}
.header-bar.dark {
    background: #4C4C4C;
    color: #fff;
}

.header-bar .back {
    position: absolute;
    top: 0;
    left: 20px;
    height: 80px;
    line-height: 80px;
    z-index: 10;
    color: #fff;
    text-decoration: none;
}
.header-bar .title {
    top: 0;
    position: absolute;
    line-height: 80px;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}


.content {
    padding: 32px;
}
.content.has-header {
    padding-top: 112px;
}

.divider {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #eee;
    margin: 30px 0;
    float: left;
}

.text-center {
    text-align: center;
}



.input {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 14px;
}
.radio {
  margin: 10px 0;
}


.btn {
    border: 0;
    border-radius: 5px;
    display: block;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 58px;
    text-transform: uppercase;
    text-align: center;
    line-height: 58px;
    text-decoration: none;
}
.btn.white {
    background: #fff;
    color: #000;
}
.btn.green {
    background: #bced11;
    color: #000;
}
.btn.facebook {
    background: #39589b;
    color: #fff;
    border-radius: 5px;
}



.fifty {
    float: left;
    width: 50%;
}
.full {
    float: left;
    width: 100%;
}

/*
 * Startscreem
 */
.startscreen {
    width: 100%;
    height: 100%;
    float: left;
    background: transparent;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
.startscreen-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 0;
    top: 0;
    left: 0;
}
.startscreen-slider li {
    width: 100%;
    height: 100%;
    display: inline;
    background-size: cover;
    position: relative;
    float: left;
}
.startscreen-slider li.promo-start {
    background-image: url('../img/promo-start.jpg');
}
.startscreen-slider li.promo-about {
    background-image: url('../img/promo-about.jpg');
}
.login-btn {
    border-radius: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.register-btn {
    border-radius: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
